@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@500&family=Inconsolata&display=swap');

:root{
    --ternaryFont: 'Fira Sans', sans-serif;
    --secondaryFont: 'Inconsolata', monospace;
    --primaryFont: 'Bebas Neue', sans-serif;
    --primaryColor: #f5eded;
    --newsCardColor: #eddede;
    --secondaryColor: #d72323;
    --ternaryColor: #3e3636;
    --blackColor: #000000;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: var(--primaryColor); /* because of stupid footer*/
}

html {
    scroll-behavior: smooth;
}

/* HEADER CSS */

.hero-image{
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../images/hero_image.jpg");
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%; /* no 100vw, because than we will have horizontall scroll bar, which is smth we do not want*/
    background: linear-gradient(180deg, rgba(0,0,0,.95), rgba(0,0,0,.15));
    color: white;
}

.menu-item{
    font-family: var(--primaryFont);
    font-size: 1.8em;
    letter-spacing: 0.05em;
    font-weight: 600;
    list-style: none;

}

#menu-icon {
    float: right;
    margin-right: 45px;
    margin-top: -57px;
    font-size: 42px;
    display: none;
    z-index: 3;
}

.menu-item-text{
    text-decoration: none;
    color: var(--primaryColor);
    transition: 500ms;
}

.menu-item-text:hover{
    cursor: pointer;
    color: var(--secondaryColor);
}

.navbar{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-top: 20px;
}

.left, .right{
    display: flex;
    gap: 4em;
    padding-left: 0px;
}

.right{
    display: flex;
    gap: 8em;
    padding-left: 0px;
}


.logoImage{
    max-width: 200px;
    max-height: 190px;
}

.logo{
    margin-top: -75px;
    text-align: center;
}

.hero-content{
    display: block;
    position: absolute;
    top: 75%; 
    left: 25%; 
    transform: translate(-25%, -75%);
}

.hero-text{
    font-family: var(--primaryFont);
    font-weight: 800;
    font-size: 4em;
    margin: 0;
}

.hero-button{
    display: inline-block; 
    padding: 20px;
    border-radius: 4px;
    background-color: var(--secondaryColor);
    transition: 500ms;
}

.hero-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.hero-button a{
    text-decoration: none;
    color: var(--primaryColor);
    font-family: var(--ternaryFont);
    font-weight: 800;
    font-size: 1.5em;
}

.social-media-btns{
    display: flex;
    justify-content: center;
    gap: 35px;
    position: absolute;
    right: 50px;
    bottom: 25px;
}

.social-media-btns a {
    cursor: pointer;
}

.social-media-btns i {
    font-size: 50px;
    color: var(--primaryColor);
    transition: 500ms;
}

.social-media-btns i:hover {
     color: var(--secondaryColor)
}

/* MAIN CSS */


/* NEWS SECTION */

.news-section{
    background: radial-gradient(circle, rgba(245,237,237,1) 0%, rgba(215,35,35,1) 100%);
    padding-bottom: 40px;
}

.section-heading {
    display: block;
    margin: auto;
    padding: 30px 0px 0px 0px;
    text-align: center;
    color: var(--primaryColor);
    font-family: var(--primaryFont);
    font-size: 5em;
}

.news-card-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.news-card{
    background-color: var(--newsCardColor);
    width: 325px;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,.2);
}

.news-card-image-container {
    height: 320px; /* Adjust this value to your desired fixed height */
    overflow: hidden;
}

.news-card-image{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.news-card-content{
    padding: 0px 16px 12px 16px;
}

.news-card-heading{
    margin: 15px 0px;
    font-size: 1.5em;
}

.news-card-text{
    font-size: 1em;
}

.news-card-btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    font-weight: 700;
    text-decoration: none;
    border-radius: 4px;
    letter-spacing: 0.6px;
    transition: 500ms;
}

.news-card-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* APPLICATION SECTION*/

.applications-section{
    background: radial-gradient(circle, rgba(237,222,222,1) 0%, rgba(62,54,54,1) 100%);
    padding-bottom: 40px;
}

.application-container {
    display: grid;
    grid-template-rows: 1fr;
    gap: 3em;
}

.custom-margin-bottom{
    margin-bottom: 30px;
}

.application-card{
    text-decoration: none;
    display: block;
    margin: auto;
    width: 70%;
    height: 80%;
    background-image: url("../images/background.png");
    background-size: cover;
    border-radius: 8px;
    filter: grayscale(100%);
    transition: 800ms;
    text-align: center;
    padding: 25px 25px 35px 25px;
}

.application-card:hover{
    filter: grayscale(0%);
    cursor: pointer;
}

.application-text {
    color: var(--primaryColor);
    font-family: var(--primaryFont);
    font-size: 3em;
    letter-spacing: 4px;
    margin: 0px;
    height: 100%;
}

/*  FOOTER  */

.sponsors-section{
    background: radial-gradient(circle, rgba(245,237,237,1) 0%, rgba(237,222,222,1) 100%);
    padding-bottom: 40px;
}

.sponsors-card-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 80px;
}

.sponsors-image{
    max-width: 200px;
}

.sponsors-heading-color{
    color: var(--ternaryColor);
}

footer{
    text-align: center;
    color: var(--ternaryColor);
    font-family: var(--primaryFont);
    font-weight: 800;
    font-size: 1.5em;
    letter-spacing: 2px;
    background-color: var(--primaryColor);
}




/* MEDIA QUERY BREAKPOINTS*/

@media (max-width: 1500px){
    .left{
        gap: 4em;
        padding-right: 90px;
    }

    .right{
        gap: 4em;
    }
}

@media (max-width: 1250px){
    .left{
        gap: 3em;
    }

    .right{
        gap: 3.5em;
    }

    .logoImage{
        margin-top: 10px;
    }
}
/* Here include burger menu */
@media (max-width: 1050px){
    .left{
        padding-right: 0px;
    }
    .banner{
        transform: translate(-50%, 0%);
    }
    
    .logoImage{
        margin-top: 100px;
    }

    #menu-icon{
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        font-size: 42px;
        margin-top: 10px;
        z-index: 4;
    }

    .navbar{
        position: absolute;
        width: 50%;
        height: 100vh;
        padding: 50px 30px;
        top: 0;
        right: 100%;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(32px);
        transition: 1000ms;
        z-index: 2;
    }
    .navbar.open{
        right: 0;
    }
    .left, .right{
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin: 0px;
    }

    .menu-item{
        text-align: center;
        display: block;
        padding: 0px;
        margin: 0px 0px 24px 0px;
        font-size: 1.8em;
    }

    
}

@media (max-width: 992px){

    .navbar{
        height: 80vh;
    }
    .hero-image{
        height: 80vh;
    }
    .logoImage{
        max-width: 180px;
        max-height: 160px;
    }

    .hero-text{
        font-size: 3em;
    }

    .hero-button{
        padding: 15px;
    }

    .hero-button a{
        font-size: 1.2em;
    }

    .banner{
        top: 80%;
    }

    .social-media-btns i {
        font-size: 40px;
    }
}

@media (max-width: 768px){
    #menu-icon {
        font-size: 32px;
    }

    .logoImage{
        max-width: 170px;
        max-height: 150px;
    }

    .hero-text{
        font-size: 2.5em;
    }

    .hero-button{
        padding: 14px;
    }

    .hero-button a{
        font-size: 1.1em;
    }

    .section-heading{
        font-size: 4em;
    }

    .application-text{
        font-size: 2.5em;
    }
}

@media (max-width: 630px){
    .application-text{
        font-size: 2em;
    }
}

@media (max-width: 580px){
    #menu-icon {
        margin-right: 20px;
    }
    .banner{
        transform: translate(-50%, 0%);
    }

    .application-text{
        font-size: 1.5em;
    }

    .social-media-btns i {
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    #menu-icon {
        font-size: 28px;
    }

    .menu-item{
        font-size: 1.4em;
    }

    .logoImage{
        max-width: 150px;
        max-height: 130px;
    }

    .hero-text{
        font-size: 2.2em;
    }

    .hero-button{
        padding: 12px;
    }

    .hero-button a{
        font-size: 1em;
    }

    .section-heading{
        font-size: 3.5em;
    }

    .application-text{
        font-size: 1em;
    }
}

@media (max-width: 350px){
    footer {
        font-size: 1.3em;
    }
}

